In [1]:
# Q1. How do you comment code in Python? What are the different types of comments?

In [2]:
#Ans 1 >
# Comments are used to write something which the programmer does not want to execute.
# Comments can be used to mark the author's name, date, etc.
# *we can code comment in python by using single slash or double slash (/,//)
# *it is easy to use when applying this keyboard shortcut CTRL+/
# *There are two types of comment
# 1st> single line comment 
# 2nd> multiple line comment
# single line comment :--
#            when a comment of a single line then this is known as single line comment
# and it is applied with single slash or double slash symbol
# multiple line comment :--
#           when a comment of a multiple line then this is known as multiple line commnet
# and it is applied by using select all the comment and press CTRL + /

In [3]:
# Q2. What are variables in Python? How do you declare and assign values to variables?

In [4]:
# A variable is the name given to a memory location in a program. A variable is like a container to store a data
# Rules for defining a variable name :--
# A variable name can contain alphabets, digits and uderscores.
# A variable name can only start with an alphabet or underscores.
# A variable name can't start with any  digits.
# No while space is allowed to be used inside a variable name.

In [5]:
# for example :- 
a = 48 
b = 45
c = a + b

In [6]:
c

93

In [7]:
# Q3. How do you convert one data type to another in Python?

In [14]:
a = {1,2,3,4,5,6}

In [15]:
type(a)

set

In [16]:
list(a)

[1, 2, 3, 4, 5, 6]

In [18]:
type(list(a))

list

In [19]:
# Q4. How do you write and execute a Python script from the command line?

In [21]:
# we can write and execute a python script from the command line by using single code or double code and the data inside a variable and execute it by using run button or CTRL + Enter
# for example :--
a = "pwskills"

In [22]:
a

'pwskills'

In [23]:
# Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [24]:
my_list=[1,2,3,4,5]

In [26]:
my_list[1:3]

[2, 3]

In [27]:
# Q6. What is a complex number in mathematics, and how is it represented in Python?

In [28]:
# Complex numbers are the numbers that are expressed in the form of a+ib where, a,b are real numbers and 'i' is an imaginary number called “iota”.
# The value of i = (√-1). For example, 2+3i is a complex number, where 2 is a real number (Re) and 3i is an imaginary number (Im).
# it is represented in python such like :--
# for example :--
# 5+7j
# here, 5 is a real number and 7j is a complex number

In [29]:
a=5+7j

In [30]:
type(a)

complex

In [ ]:
#Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [1]:
age=25

In [2]:
age

25

In [31]:
# Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [32]:
price=9.99

In [33]:
type(price)

float

In [34]:
# Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [35]:
name="Md Arshad Raza"

In [36]:
print(name)

Md Arshad Raza

In [37]:
# Q10. Given the string "Hello, World!", extract the substring "World".

In [38]:
a1="Hello, World!"

In [47]:
a1[-6:-1:]

'World'

In [ ]:
# Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [11]:
is_student=True

In [12]:
type(is_student)

bool

In [13]:
            # Assignmment 2nd Complete